# Git ignore tout dans Projet_SE
Projet_SE/*
# Sauf le répertoire lowrisc-chip-DATE2020-DEMO
!Projet_SE/lowrisc-chip-DATE2020-DEMO/
# Puis ignore tout dans ce dossier
Projet_SE/lowrisc-chip-DATE2020-DEMO/*
# sauf fpga/
!Projet_SE/lowrisc-chip-DATE2020-DEMO/fpga/
# Puis ignore tout dans ce dossier
Projet_SE/lowrisc-chip-DATE2020-DEMO/fpga/*
# sauf bare_metal/
!Projet_SE/lowrisc-chip-DATE2020-DEMO/fpga/bare_metal/
# Puis ignore tout dans ce dossier
Projet_SE/lowrisc-chip-DATE2020-DEMO/fpga/bare_metal/*
# sauf cnn_riscv_mancini
!Projet_SE/lowrisc-chip-DATE2020-DEMO/fpga/bare_metal/cnn_riscv_mancini/

# ignore tous les fichiers/répertoires commençant par .
.*

# ignore tous les contenant BCKP
*BCKP*